zipp==3.3.0; python_version < "3.8"
importlib-metadata==2.0.0; python_version < "3.8"
pyparsing==2.4.7
six==1.15.0
appdirs==1.4.4
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
distlib==0.3.1
docutils==0.16
filelock==3.0.12
idna==2.10
markupsafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
packaging==20.4
pathspec==0.8.0
pbr==5.5.0
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
pytz==2020.1
pyyaml==5.3.1
regex==2020.10.11
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.10
wcwidth==0.2.5
alabaster==0.7.12
argcomplete==1.12.1
aspy.yaml==1.3.0
babel==2.8.0
black==19.10b0
cfgv==3.2.0
colorlog==4.4.0
coverage==4.5.4
flake8==3.8.4
identify==1.5.6
imagesize==1.2.0
jinja2==2.11.2
mypy-extensions==0.4.3
nodeenv==1.5.0
ptyprocess==0.6.0
pygments==2.7.1
pytest==5.4.3
requests==2.24.0
restructuredtext-lint==1.3.1
snowballstemmer==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
stevedore==3.2.2
tornado==6.0.4; python_version > "2.7"
typing-extensions==3.7.4.3
virtualenv==20.0.33
blacken-docs==1.8.0
doc8==0.8.1
flake8-bugbear==19.8.0
isort==4.3.21
lark-parser==0.8.9
livereload==2.6.3
mypy==0.780
nox==2019.11.9
pexpect==4.8.0
pre-commit==1.21.0
pytest-cov==2.10.1
rope==0.14.0
sphinx==2.4.4
sybil==1.4.0
